* {
    margin: 0;
    padding: 0;
}

.containerImage {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0px;
    margin-top: 20px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
}

.personajes {
    width: 140px;
    height: 190px;

    overflow: hidden;
    transition: none !important;
}

.personajes ul {
    display: flex;
    padding: 0;
    width: 2100%;
    position: relative;
    top: 2%;

    overflow: hidden;
    animation: slide 70s infinite alternate ease;
    animation-direction: normal;
}

.personajes li {
    width: 140px;
    height: 190px;
    list-style: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    mask-image: linear-gradient(black 30%, transparent);
    filter: brightness(1.5);
    filter: contrast(1.1);
    filter: saturate(1.2);
}

@keyframes slide {
	0% {margin-left: 0; opacity: 0.1;}
    2.5% {opacity: 1;}
	5% {margin-left: 0; opacity: 0;}
	
	5.01% {margin-left: -100%; opacity: 0.1;}
    7.5% {opacity: 1;}
	10% {margin-left: -100%; opacity: 0;}
	
	10.01% {margin-left: -200%; opacity: 0.1;}
    12.5% {opacity: 1;}
	15% {margin-left: -200%; opacity: 0;}
	
	15.01% {margin-left: -300%; opacity: 0.1;}
    17.5% {opacity: 1;}
	20% {margin-left: -300%; opacity: 0;}

	20.01% {margin-left: -400%; opacity: 0.1;}
    22.5% {opacity: 1;}
	25% {margin-left: -400%; opacity: 0;}

    25.01% {margin-left: -500%; opacity: 0.1;}
    27.5% {opacity: 1;}
	30% {margin-left: -500%; opacity: 0;}

	30.01% {margin-left: -600%; opacity: 0.1;}
    32.5% {opacity: 1;}
	35% {margin-left: -600%; opacity: 0;}

    35.01% {margin-left: -700%; opacity: 0.1;}
    37.5% {opacity: 1;}
	40% {margin-left: -700%; opacity: 0;}

	40.01% {margin-left: -800%; opacity: 0.1;}
    42.5% {opacity: 1;}
	45% {margin-left: -800%; opacity: 0;}

    45.01% {margin-left: -900%; opacity: 0.1;}
    47.5% {opacity: 1;}
	50% {margin-left: -900%; opacity: 0;}

	50.01% {margin-left: -1000%; opacity: 0.1;}
    52.5% {opacity: 1;}
	55% {margin-left: -1000%; opacity: 0;}

    55.01% {margin-left: -1100%; opacity: 0.1;}
    57.5% {opacity: 1;}
	60% {margin-left: -1100%; opacity: 0;}

	60.01% {margin-left: -1200%; opacity: 0.1;}
    62.5% {opacity: 1;}
	65% {margin-left: -1200%; opacity: 0;}

    65.01% {margin-left: -1300%; opacity: 0.1;}
    67.5% {opacity: 1;}
	70% {margin-left: -1300%; opacity: 0;}

	70.01% {margin-left: -1400%; opacity: 0.1;}
    72.5% {opacity: 1;}
	75% {margin-left: -1400%; opacity: 0;}

    75.01% {margin-left: -1500%; opacity: 0.1;}
    77.5% {opacity: 1;}
	80% {margin-left: -1500%; opacity: 0;}

	80.01% {margin-left: -1600%; opacity: 0.1;}
    82.5% {opacity: 1;}
	85% {margin-left: -1600%; opacity: 0;}

    85.01% {margin-left: -1700%; opacity: 0.1;}
    87.5% {opacity: 1;}
	90% {margin-left: -1700%; opacity: 0;}

	90.01% {margin-left: -1800%; opacity: 0.1;}
    92.5% {opacity: 1;}
	95% {margin-left: -1800%; opacity: 0;}

    95.01% {margin-left: -1900%; opacity: 0.1;}
    97.5% {opacity: 1;}
	100% {margin-left: -1900%; opacity: 0;}
}