* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMÁGEN DE FONDO */
body {
    background-color: rgb(26, 25, 25);
    background-image: url(../imgs/halo.webp);
    background-attachment: fixed;
    background-position: cover;
}

/* CONTENEDOR DONDE IRÁ TODA LA INFORMACIÓN */
.container {
    position: relative;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: .6rem;
    width: 40%;
    border-radius: 8px;
    border: 2px solid rgb(63, 65, 63);
    background-color: rgba(100, 99, 95, 0.664);
}

/* TEXTO -> "Iniciar sesión" */
.titulo {
    font-family: cairo, sans-serif;
    text-align: center;
    font-size: 4rem;
    padding: 10px;
    color: rgb(56, 182, 204);
    font-weight: 630;
    border-bottom: 5px solid rgb(41, 133, 133);
    border-top: 2px solid rgb(206, 188, 32);
    border-radius: 25%;
}

/* ICONO DE USUARIO */
.user-icon {
    width: 15%;
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: -10px;
    filter: drop-shadow(2px 2px 3px rgb(143, 133, 133));
}

/* CONTENEDOR DONDE IRÁ TODO EL FORMULARIO PARA RELLENAR CON DATOS */
.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2%;
    height: 30rem;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.644);
    background-image: url(../imgs/fallout-okay.webp);
    background-position-y: 190px;
    background-position-x: 276px;
    background-blend-mode:screen ;
}

/* CONTENEDOR DONDE IRÁN CADA UNO DE LOS DATOS NECESARIOS (usuario y contraseña) PARA INICIAR SESIÓN */
.container-form-child {
    margin-top: 15px;
    display: block;
    width: 40rem;
    height: 10rem;
    padding: 15px;
    border-radius: 1px;
    background: rgba(139, 136, 136, 0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 12px;
}

/* ESPACIO DONDE PONER EL USUARIO */
.user-space {
    position: relative;
    padding: 5px;
    display: inline-flex;
}

input[type="text"] {
    padding: 10px;
    width: 55%;
    margin-bottom: 2rem;
    font-size: 20px;
    text-align:center; 
    transition: .2s ease-out;
    border-radius: 6.8px;
    border-bottom: 2px solid rgb(31, 82, 112);
    border-right: 2px solid rgb(49, 99, 146);
    border-top: 2px solid rgb(64, 117, 167);
    border-left: 2px solid rgb(102, 146, 187);
    background-color: rgba(78, 78, 75, 0.596);
    color: rgb(255, 255, 255);
    font-weight: 300;
}

/* ESPACIO DONDE PONER LA CONTRASEÑA */
.password-space {
    position: relative;
    padding: 5px;
    display: inline-flex;
}

input[type="password"] {
    padding: 10px;
    width: 55%;
    margin-bottom: 2rem;
    font-size: 20px;
    text-align:center; 
    transition: .2s ease-out;
    border-radius: 6.8px;
    border-bottom: 2px solid rgb(102, 15, 124);
    border-right: 2px solid rgb(97, 17, 97);
    border-top: 2px solid rgb(111, 32, 114);
    border-left: 2px solid rgb(123, 51, 129);
    color: rgb(74, 159, 192);
    background-color: rgba(78, 78, 75, 0.596);
}

input[type="checkbox"]{
    display: block;
    font-size: 20px;
    color: wheat;
}

/* AL HACER CLICK EN CUALQUIER INPUT */
input[type="text"], input[type="password"]:focus {
    outline: 3px solid rgb(81, 129, 133);
    border: none;
    width: 70%;
    height: 3rem;
    background-color: rgb(83, 86, 87);
    color: rgb(0, 0, 0);
    font-weight: 500;
}

/* INDICADORES "USUARIO" Y "CONTRASEÑA" */
.indx {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(228, 200, 46);
    font-weight: 550;
}

.contenedor-botones {
	width: 50%;
	display: grid;
}

/* BOTÓN DE ENVÍO */
.boton {
	display: block;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: cairo;
	font-size: 25px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
    margin-bottom: 6px;
}

.boton.seis:hover {
    border: none;
    box-shadow: 0 0 12px rgb(32, 100, 102);
    color: gold;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton.seis {
	background: rgba(0, 0, 0, 0.63);
    border: .2px solid rgb(58, 56, 56);
	color: #ffffff;
}

.boton.seis svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.boton.seis rect {
	width: 100%;
	height: 100%;
    stroke: rgb(66, 146, 155);
	stroke-width: 10px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .7s ease all;
}

.boton.seis:hover rect {
	stroke-dashoffset: 0;
    stroke: gold;
}

/* CAJA DONDE SE ENCUENTRA EL LINK */
.link-box {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    transition: .3s ease;
}

/* LINK DE REGISTRO */
.link-box a {
    text-decoration: none;
    display: flex;
    color: rgb(133, 189, 179);
    font-family:cairo;
    transition: .2s;
    font-weight: 600;
    font-size: 17.8px;
}

.link-box:hover {
    
}

.link-box a:hover {
    filter: grayscale(1);
    box-shadow: 2px solid green;
}

/* PARA DISPOSITIVOS MÁS PEQUEÑOS */
@media (max-width: 1505px) {
    body {
        background-position-x: 1200px;
        background-attachment: fixed;
        background-size: cover;
    }
    .titulo{
        font-size: 3rem;
    }
    .container {
        width: 60%; 
    }
    .container-form-child {
        width: 80%; 
    }
    input[type="text"],
    input[type="password"] {
        width: 60%; 
    }
    .user-icon {
        width: 16%; 
    }
    .contenedor-botones {
        width: 90%; 
    }
    .link-box {
        width: 40%; 
    }
    .indx {
        font-size: 30px;
    }

    /*MODIFICAR EL BOTÓN DE ENVIO,
    EN DISPOSITIVOS PEQUEÑOS COMO IPAD NO SE VE EL HOVER DEL BOTÓN PERO SI EL ACTIVE,
    EL ACTIVE SE QUEDA CHUECO EN CUANTO AL EFECTO DEL BOTÓN
    (PARA ACCEDER A LA VISTA DESDE OTROS DISPOSITIVOS F12 Y SIMBOLO DE ORDENADOR CON MOVIL)
    */
}
