* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMÁGEN DE FONDO */
body {
    background-color: rgb(26, 25, 25);
    background-image: url(../imgs/halo.webp);
    background-attachment: fixed;
    background-position: cover;
}

/* CONTENEDOR DONDE IRÁ TODA LA INFORMACIÓN */
.container {
    position: relative;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: .6rem;
    width: 40%;
    border-radius: 8px;
    border: 2px solid rgb(63, 65, 63);
    background-color: rgba(100, 99, 95, 0.664);
}

/* TEXTO -> "Iniciar sesión" */
.titulo {
    font-family: cairo, sans-serif;
    text-align: center;
    font-size: 3.2rem;
    padding: 10px;
    color: rgb(56, 182, 204);
    font-weight: 630;
    border-bottom: 5px solid rgb(41, 133, 133);
    border-top: 2px solid rgb(206, 188, 32);
    border-radius: 25%;
}

.containerImage {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
}

.personajes {
    width: 140px;
    height: 190px;

    overflow: hidden;
    transition: none !important;
}

.personajes ul {
    display: flex;
    padding: 0;
    width: 2100%;
    position: relative;
    top: 2%;

    overflow: hidden;
    animation: slide 70s infinite alternate ease;
    animation-direction: normal;
}

.personajes li {
    width: 140px;
    height: 190px;
    list-style: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    mask-image: linear-gradient(black 30%, transparent);
    filter: brightness(1.5);
    filter: contrast(1.1);
    filter: saturate(1.2);
}

@keyframes slide {
	0% {margin-left: 0; opacity: 0.1;}
    2.5% {opacity: 1;}
	5% {margin-left: 0; opacity: 0;}
	
	5.01% {margin-left: -100%; opacity: 0.1;}
    7.5% {opacity: 1;}
	10% {margin-left: -100%; opacity: 0;}
	
	10.01% {margin-left: -200%; opacity: 0.1;}
    12.5% {opacity: 1;}
	15% {margin-left: -200%; opacity: 0;}
	
	15.01% {margin-left: -300%; opacity: 0.1;}
    17.5% {opacity: 1;}
	20% {margin-left: -300%; opacity: 0;}

	20.01% {margin-left: -400%; opacity: 0.1;}
    22.5% {opacity: 1;}
	25% {margin-left: -400%; opacity: 0;}

    25.01% {margin-left: -500%; opacity: 0.1;}
    27.5% {opacity: 1;}
	30% {margin-left: -500%; opacity: 0;}

	30.01% {margin-left: -600%; opacity: 0.1;}
    32.5% {opacity: 1;}
	35% {margin-left: -600%; opacity: 0;}

    35.01% {margin-left: -700%; opacity: 0.1;}
    37.5% {opacity: 1;}
	40% {margin-left: -700%; opacity: 0;}

	40.01% {margin-left: -800%; opacity: 0.1;}
    42.5% {opacity: 1;}
	45% {margin-left: -800%; opacity: 0;}

    45.01% {margin-left: -900%; opacity: 0.1;}
    47.5% {opacity: 1;}
	50% {margin-left: -900%; opacity: 0;}

	50.01% {margin-left: -1000%; opacity: 0.1;}
    52.5% {opacity: 1;}
	55% {margin-left: -1000%; opacity: 0;}

    55.01% {margin-left: -1100%; opacity: 0.1;}
    57.5% {opacity: 1;}
	60% {margin-left: -1100%; opacity: 0;}

	60.01% {margin-left: -1200%; opacity: 0.1;}
    62.5% {opacity: 1;}
	65% {margin-left: -1200%; opacity: 0;}

    65.01% {margin-left: -1300%; opacity: 0.1;}
    67.5% {opacity: 1;}
	70% {margin-left: -1300%; opacity: 0;}

	70.01% {margin-left: -1400%; opacity: 0.1;}
    72.5% {opacity: 1;}
	75% {margin-left: -1400%; opacity: 0;}

    75.01% {margin-left: -1500%; opacity: 0.1;}
    77.5% {opacity: 1;}
	80% {margin-left: -1500%; opacity: 0;}

	80.01% {margin-left: -1600%; opacity: 0.1;}
    82.5% {opacity: 1;}
	85% {margin-left: -1600%; opacity: 0;}

    85.01% {margin-left: -1700%; opacity: 0.1;}
    87.5% {opacity: 1;}
	90% {margin-left: -1700%; opacity: 0;}

	90.01% {margin-left: -1800%; opacity: 0.1;}
    92.5% {opacity: 1;}
	95% {margin-left: -1800%; opacity: 0;}

    95.01% {margin-left: -1900%; opacity: 0.1;}
    97.5% {opacity: 1;}
	100% {margin-left: -1900%; opacity: 0;}
}

/* CONTENEDOR DONDE IRÁ TODO EL FORMULARIO PARA RELLENAR CON DATOS */
.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2%;
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.644);
    background-image: url(../imgs/fallout-okay.webp);
    background-position-y: 187.5px;
    background-position-x: 276px;
    background-blend-mode:screen ;
}

/* CONTENEDOR DONDE IRÁN CADA UNO DE LOS DATOS NECESARIOS (usuario y contraseña) PARA INICIAR SESIÓN */
.container-form-child {
    margin-top: 15px;
    display: block;
    width: 33rem;
    height: 10rem;
    padding: 15px;
    border-radius: 1px;
    background: rgba(139, 136, 136, 0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 12px;
}

form {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESPACIO DONDE PONER EL USUARIO */
.user-space {
    position: relative;
    padding: 5px;
    display: inline-flex;
}

input[type="text"] {
    padding: 5px;
    width: 70%;
    margin-bottom: 2rem;
    font-size: 20px;
    font-family: cairo;
    text-align:center; 
    transition: .2s ease-out;
    border-radius: 6.8px;
    border-bottom: .8px solid rgb(31, 82, 112);
    border-right: .8px solid rgb(49, 99, 146);
    border-top: .8px solid rgb(64, 117, 167);
    border-left: .8px solid rgb(102, 146, 187);
    background-color: rgba(78, 78, 75, 0.596);
    color: rgb(255, 255, 255);
    font-weight: 300;
}

/* ESPACIO DONDE PONER LA CONTRASEÑA */
.password-space {
    position: relative;
    padding: 5px;
    display: inline-flex;
}

input[type="password"] {
    padding: 5px;
    width: 70%;
    margin-bottom: 2rem;
    font-size: 20px;
    font-family: cairo;
    text-align:center; 
    transition: .2s ease-out;
    border-radius: 6.8px;
    border-bottom: .8px solid rgb(102, 15, 124);
    border-right: .8px solid rgb(97, 17, 97);
    border-top: .8px solid rgb(111, 32, 114);
    border-left: .8px solid rgb(123, 51, 129);
    color: rgb(74, 159, 192);
    background-color: rgba(78, 78, 75, 0.596);
}

input[type="checkbox"]{
    font-size: 20px;
    color: wheat;
}

.showpwd {
    margin-left: 90px;
    position: relative;
    display: flex;
    font-size: 15px;
    font-family: cairo;
    color: white;
    padding: 5px;
    justify-content: center;
    align-items: center;
    top: -15px;
}

.showpwd input[type="checkbox"] {
    margin-right: 5px;
}

/* AL HACER CLICK EN CUALQUIER INPUT */
input[type="text"]:focus, input[type="password"]:focus {
    outline: .8px solid rgb(81, 129, 133);
    border: none;
    width: 73%;
    background-color: rgb(83, 86, 87);
    color: rgb(0, 0, 0);
    font-weight: 500;
}


/* INDICADORES "USUARIO" Y "CONTRASEÑA" */
.indx {
    display: inline-block;
    font-family: prompt;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin-bottom: 10px;
    color: rgb(228, 200, 46);
    font-weight: 400;
}

.contenedor-botones {
	width: 50%;
	display: grid;
}

/* BOTÓN DE ENVÍO */
.boton {
	display: block;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: cairo;
	font-size: 25px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
    margin-bottom: 6px;
}

.boton.seis:hover {
    border: none;
    box-shadow: 0 0 12px rgb(32, 100, 102);
    color: gold;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton.seis {
	background: rgba(0, 0, 0, 0.63);
    border: .2px solid rgb(58, 56, 56);
	color: #ffffff;
}

.boton.seis svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.boton.seis rect {
	width: 100%;
	height: 100%;
    stroke: rgb(66, 146, 155);
	stroke-width: 10px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .7s ease all;
}

.boton.seis:hover rect {
	stroke-dashoffset: 0;
    stroke: gold;
}

/* CAJA DONDE SE ENCUENTRA EL LINK */
.link-box {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    transition: .3s ease;
}

/* LINK DE REGISTRO */
.link-box a {
    text-decoration: none;
    display: flex;
    color: rgb(133, 189, 179);
    font-family:cairo;
    transition: .2s;
    font-weight: 600;
    font-size: 16px;
}

.link-box:hover {
    
}

.link-box a:hover {
    filter: grayscale(1);
    box-shadow: 2px solid green;
}

/* PARA DISPOSITIVOS MÁS PEQUEÑOS */
@media (max-width: 1505px) {
    body {
        background-position-x: 1200px;
        background-attachment: fixed;
        background-size: cover;
    }
    .titulo{
        font-size: 3rem;
    }
    .container {
        width: 60%;
    }
    .container-form {
        background-position-x: 190px;
    }
    .container-form-child {
        width: 80%; 
    }
    input[type="text"],
    input[type="password"] {
        width: 60%; 
    }
    .user-icon {
        width: 16%; 
    }
    .link-box {
        width: 40%; 
    }
    .indx {
        font-size: 30px;
    }
    footer {

    }

    /*MODIFICAR EL BOTÓN DE ENVIO,
    EN DISPOSITIVOS PEQUEÑOS COMO IPAD NO SE VE EL HOVER DEL BOTÓN PERO SI EL ACTIVE,
    EL ACTIVE SE QUEDA CHUECO EN CUANTO AL EFECTO DEL BOTÓN
    (PARA ACCEDER A LA VISTA DESDE OTROS DISPOSITIVOS F12 Y SIMBOLO DE ORDENADOR CON MOVIL)
    */
}

@media (max-width: 1002px){
    .container-form {
        background-position-x: 150px;
    }
    footer {
        
    }

}


footer {
    margin-top: 70px;
    background-color: rgb(59, 57, 57);
    height: 14rem;
}