* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMÁGEN DE FONDO */
body {
    background-color: rgb(26, 25, 25);
    background-image: url(../imgs/halo.webp);
    background-attachment: fixed;
    background-position: cover;
}

/* CONTENEDOR DONDE IRÁ TODA LA INFORMACIÓN */
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: .6rem;
    width: 70%;
    border-radius: 8px;
    border: 2px solid rgb(63, 65, 63);
    background-color: rgba(20, 20, 20, 0.9);
    overflow: hidden;
}

/*---< ANIMACIÓN DE FIGURAS >---*/

/*---CUADRADOS---*/
.cuadrados {
    position: absolute;
    display: block;
    border: 5px solid rgba(128, 0, 128, 0.9);
    width: 30px;
    height: 30px;
    list-style: none;
    border-radius: 5%;
    top: -75px;

    animation: animacionFiguras 10s linear infinite;
}

/*.cuadrados:nth-child(1) {
    left: 25%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}*/

.cuadrados:nth-child(2) {
    left: 10%;
    width: 25px;
    height: 25px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.cuadrados:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.cuadrados:nth-child(4) {
    left: 40%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.cuadrados:nth-child(5) {
    left: 65%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
}

.cuadrados:nth-child(6) {
    left: 75%;
    width: 55px;
    height: 55px;
    animation-delay: 3s;
}

.cuadrados:nth-child(7) {
    left: 35%;
    width: 60px;
    height: 60px;
    animation-delay: 7s;
}

.cuadrados:nth-child(8) {
    left: 50%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.cuadrados:nth-child(9) {
    left: 20%;
    width: 25px;
    height: 25px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.cuadrados:nth-child(1) {
    left: 85%;
    width: 65px;
    height: 65px;
    animation-delay: 0s;
    animation-duration: 11s;
}

/*---CIRCULOS---*/
.circulos {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    list-style: none;
    border: 5px solid red;
    border-radius: 50%;
    top: -75px;

    animation: animacionFiguras 10s linear infinite;
}

/*.circulos:nth-child(1) {
    left: 30%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
}*/

.circulos:nth-child(2) {
    left: 5%;
    width: 40px;
    height: 40px;
    animation-delay: 8s;
    animation-duration: 17s;
}

.circulos:nth-child(3) {
    left: 15%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
}

.circulos:nth-child(4) {
    left: 22%;
    width: 35px;
    height: 35px;
    animation-delay: 5s;
    animation-duration: 12s;
}

.circulos:nth-child(5) {
    left: 30%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
}

.circulos:nth-child(6) {
    left: 40%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
}

.circulos:nth-child(7) {
    left: 49%;
    width: 30px;
    height: 30px;
    animation-delay: 8s;
    animation-duration: 17s;
}

.circulos:nth-child(8) {
    left: 56%;
    width: 55px;
    height: 55px;
    animation-delay: 0s;
}

.circulos:nth-child(9) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 5s;
    animation-duration: 12s;
}

.circulos:nth-child(1) {
    left: 80%;
    width: 25px;
    height: 25px;
    animation-delay: 3s;
}

/*---EQUIS---*/
.equis {
    position: absolute;
    display: block;
    list-style: none;
    width: 40px;
    height: 4px;
    background-color: rgb(0, 0, 172);
    top: -80px;

    animation: animacionFiguras 10s linear infinite;
}

.equis::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 4px;
    top: 0;
    left: 50%;
    background-color: rgb(0, 0, 172);
    transform: translateX(-50%) rotate(90deg);
}

/*.equis:nth-child(1) {
    width: 56px;
    height: 5.6px;
    left: 2%;

    animation-delay: 1s;
    animation-duration: 8s;
}

.equis:nth-child(1)::before {
    width: 56px;
    height: 5.6px;

    animation-delay: 1s;
    animation-duration: 8s;
}*/

.equis:nth-child(2) {
    width: 44px;
    height: 4.4px;
    left: 12%;

    animation-delay: 0s;
    animation-duration: 15s;
}

.equis:nth-child(2)::before {
    width: 44px;
    height: 4.4px;

    animation-delay: 0s;
    animation-duration: 15s;
}

.equis:nth-child(3) {
    width: 72px;
    height: 7.2px;
    left: 20%;

    animation-delay: 1.5s;
    animation-duration: 10s;
}

.equis:nth-child(3)::before {
    width: 72px;
    height: 7.2px;

    animation-delay: 1.5s;
    animation-duration: 10s;
}

.equis:nth-child(4) {
    width: 60px;
    height: 6px;
    left: 34%;

    animation-delay: 2.5s;
    animation-duration: 17s;
}

.equis:nth-child(4)::before {
    width: 60px;
    height: 6px;

    animation-delay: 2.5s;
    animation-duration: 17s;
}

.equis:nth-child(5) {
    width: 76px;
    height: 7.6px;
    left: 45%;

    animation-delay: 0.5s;
    animation-duration: 14s;
}

.equis:nth-child(5)::before {
    width: 76px;
    height: 7.6px;

    animation-delay: 0.5s;
    animation-duration: 14s;
}

.equis:nth-child(6) {
    width: 52px;
    height: 5.2px;
    left: 57%;

    animation-delay: 2s;
    animation-duration: 7s;
}

.equis:nth-child(6)::before {
    width: 52px;
    height: 5.2px;

    animation-delay: 2s;
    animation-duration: 7s;
}

.equis:nth-child(7) {
    width: 50px;
    height: 5px;
    left: 65%;

    animation-delay: 0s;
    animation-duration: 10s;
}

.equis:nth-child(7)::before {
    width: 50px;
    height: 5px;

    animation-delay: 0s;
    animation-duration: 10s;
}

.equis:nth-child(8) {
    width: 35px;
    height: 6.5px;
    left: 72%;

    animation-delay: 2.5s;
    animation-duration: 9s;
}

.equis:nth-child(8)::before {
    width: 35px;
    height: 6.5px;

    animation-delay: 2.5s;
    animation-duration: 9s;
}

.equis:nth-child(9) {
    left: 80%;

    animation-delay: 8s;
    animation-duration: 15s;
}

.equis:nth-child(9)::before {
    animation-delay: 8s;
    animation-duration: 15s;
}

.equis:nth-child(1) {
    width: 60px;
    height: 6px;
    left: 88%;

    animation-delay: 4s;
    animation-duration: 11s;
}

.equis:nth-child(1)::before {
    width: 60px;
    height: 6px;

    animation-delay: 4s;
    animation-duration: 11s;
}

/*---TRIANGULOS---*/
.triangulos {
    position: absolute;
    display: block;
    list-style: none;
    top: -85%;
}

.recta {
    position: absolute;
    fill: none;
    stroke: rgba(0, 157, 0, 0.9);
    stroke-width: 6px;
    transform-origin: 120px 50px;

    animation: animacionTriangulos 10s linear infinite;
}

#small {
    stroke-width: 9px;
}

/*.triangulos:nth-child(1) {
    transform: scale(0.5);
    left: -12%;
    animation-delay: 0s;
}*/

.triangulos:nth-child(2) {
    transform: scale(0.6);
    left: 0%;
}

.triangulos:nth-child(3) {
    transform: scale(0.35);
    left: 10%;
}

.triangulos:nth-child(4) {
    transform: scale(0.7);
    left: 20%;
}

.triangulos:nth-child(5) {
    transform: scale(0.45);
    left: 30%;
}

.triangulos:nth-child(6) {
    transform: scale(0.65);
    left: 40%;
}

.triangulos:nth-child(7) {
    transform: scale(0.35);
    left: 50%;
}

.triangulos:nth-child(8) {
    transform: scale(0.65);
    left: 60%;
}

.triangulos:nth-child(9) {
    transform: scale(0.55);
    left: 68%;
}

.triangulos:nth-child(1) {
    transform: scale(0.3);
    left: 72%;
}

/*---ANIMACIONES---*/
@keyframes animacionFiguras {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(800px) rotate(750deg);
        opacity: 0.05;
    }
}

@keyframes animacionTriangulos {
    0% {
        transform: translateY(0) translateX(10px) rotate(0deg);
        opacity: 1;
    }

    92% {
        opacity: 0;
    }

    100% {
        transform: translateY(2000px) translate(10px) rotate(360deg);
        opacity: 0;
    }
}
/*---¡CONSIDERAR REDUCIR LA CANTIDAD DE FIGURAS!---*/
/*---¡CONSIDERAR CAMBIAR EL LUGAR DE LA ANIMACIÓN DE FIGURAS (Moverlo al conteiner-form)!---*/


/* TEXTO -> "Iniciar sesión" */
.containerTitulo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.bordeSuperior {
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: none;
    /*border-top: 4px solid rgb(206, 188, 32);*/
    border-top: 4px solid rgb(41, 133, 133);

    border-radius: 25%;
    filter: drop-shadow(0px -2px 5px rgb(56, 182, 204));
}

.bordeInferior {
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: none;
    border-bottom: 4px solid rgb(206, 188, 32);
    border-radius: 25%;
    top: 0%;

    filter: drop-shadow(0px 2px 5px rgb(206, 188, 32));

}

.titulo {
    position: relative;
    font-family: cairo, sans-serif;
    text-align: center;
    font-size: 3.2rem;
    padding: 10px;
    color: rgb(50, 192, 216);
    font-weight: 630;
}

.containerImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    top: 0px;

    z-index: 10;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
}

.personajes {
    width: 140px;
    height: 190px;

    overflow: hidden;
    transition: none !important;
}

.personajes ul {
    position: relative;
    display: flex;
    padding: 0;
    width: 2100%;
    top: 2%;

    overflow: hidden;
    animation: slide 60s infinite alternate ease-in-out;
    animation-direction: normal;
}

.personajes li {
    width: 140px;
    height: 190px;
    list-style: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    mask-image: linear-gradient(black 30%, transparent);
    filter: brightness(1.6);
    filter: contrast(1.2);
    filter: saturate(1.3);
}

@keyframes slide {
	0% {margin-left: 0; opacity: 0.1;}
    2.5% {opacity: 1;}
	5% {margin-left: 0; opacity: 0;}
	
	5.01% {margin-left: -100%; opacity: 0.1;}
    7.5% {opacity: 1;}
	10% {margin-left: -100%; opacity: 0;}
	
	10.01% {margin-left: -200%; opacity: 0.1;}
    12.5% {opacity: 1;}
	15% {margin-left: -200%; opacity: 0;}
	
	15.01% {margin-left: -300%; opacity: 0.1;}
    17.5% {opacity: 1;}
	20% {margin-left: -300%; opacity: 0;}

	20.01% {margin-left: -400%; opacity: 0.1;}
    22.5% {opacity: 1;}
	25% {margin-left: -400%; opacity: 0;}

    25.01% {margin-left: -500%; opacity: 0.1;}
    27.5% {opacity: 1;}
	30% {margin-left: -500%; opacity: 0;}

	30.01% {margin-left: -600%; opacity: 0.1;}
    32.5% {opacity: 1;}
	35% {margin-left: -600%; opacity: 0;}

    35.01% {margin-left: -700%; opacity: 0.1;}
    37.5% {opacity: 1;}
	40% {margin-left: -700%; opacity: 0;}

	40.01% {margin-left: -800%; opacity: 0.1;}
    42.5% {opacity: 1;}
	45% {margin-left: -800%; opacity: 0;}

    45.01% {margin-left: -900%; opacity: 0.1;}
    47.5% {opacity: 1;}
	50% {margin-left: -900%; opacity: 0;}

	50.01% {margin-left: -1000%; opacity: 0.1;}
    52.5% {opacity: 1;}
	55% {margin-left: -1000%; opacity: 0;}

    55.01% {margin-left: -1100%; opacity: 0.1;}
    57.5% {opacity: 1;}
	60% {margin-left: -1100%; opacity: 0;}

	60.01% {margin-left: -1200%; opacity: 0.1;}
    62.5% {opacity: 1;}
	65% {margin-left: -1200%; opacity: 0;}

    65.01% {margin-left: -1300%; opacity: 0.1;}
    67.5% {opacity: 1;}
	70% {margin-left: -1300%; opacity: 0;}

	70.01% {margin-left: -1400%; opacity: 0.1;}
    72.5% {opacity: 1;}
	75% {margin-left: -1400%; opacity: 0;}

    75.01% {margin-left: -1500%; opacity: 0.1;}
    77.5% {opacity: 1;}
	80% {margin-left: -1500%; opacity: 0;}

	80.01% {margin-left: -1600%; opacity: 0.1;}
    82.5% {opacity: 1;}
	85% {margin-left: -1600%; opacity: 0;}

    85.01% {margin-left: -1700%; opacity: 0.1;}
    87.5% {opacity: 1;}
	90% {margin-left: -1700%; opacity: 0;}

	90.01% {margin-left: -1800%; opacity: 0.1;}
    92.5% {opacity: 1;}
	95% {margin-left: -1800%; opacity: 0;}

    95.01% {margin-left: -1900%; opacity: 0.1;}
    97.5% {opacity: 1;}
	100% {margin-left: -1900%; opacity: 0;}
}

/* CONTENEDOR DONDE IRÁ TODO EL FORMULARIO PARA RELLENAR CON DATOS */

.container-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: fit-content;
    padding: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    background-image: url(../imgs/fallout-okay.webp);
    background-position-y: 187.5px;
    background-position-x: 276px;
    background-blend-mode: screen;
}

/* CONTENEDOR DONDE IRÁN CADA UNO DE LOS DATOS NECESARIOS (usuario y contraseña) PARA INICIAR SESIÓN */
.container-form-child {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 30rem;
    height: fit-content;
    padding: 15px;
    background: rgba(139, 136, 136, 0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.container-form-child.izquierda {
    border-radius: 1.5rem 0rem 0rem 1.5rem;
}

.container-form-child.derecha {
    border-radius: 0rem 1.5rem 1.5rem 0rem;
}

form {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form-child-nephew {
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    display: block;
    height: 110px;
}

/* ESPACIO DONDE PONER EL USUARIO */

.space {
    position: relative;
    padding: 5px;
    display: inline-flex;
}

input[type="text"] {
    width: 17rem;
    height: 2.2rem;
    font-size: 15px;
    font-family: cairo;
    text-align:center; 
    transition: .2s ease-out;
    border-radius: 6.8px;
    border-bottom: .8px solid rgb(31, 82, 112);
    border-right: .8px solid rgb(49, 99, 146);
    border-top: .8px solid rgb(64, 117, 167);
    border-left: .8px solid rgb(102, 146, 187);
    background-color: rgba(78, 78, 75, 0.596);
    color: rgb(255, 255, 255);
}

/* ESPACIO DONDE PONER LA CONTRASEÑA */

input[type="password"] {
    width: 17rem;
    height: 2.2rem;
    font-size: 15px;
    font-family: cairo;
    text-align:center; 
    transition: .2s ease-out;
    border-radius: 6.8px;
    border-bottom: .8px solid rgb(102, 15, 124);
    border-right: .8px solid rgb(97, 17, 97);
    border-top: .8px solid rgb(111, 32, 114);
    border-left: .8px solid rgb(123, 51, 129);
    color: rgb(74, 159, 192);
    background-color: rgba(78, 78, 75, 0.596);
}
/*

input[type="checkbox"]{
    font-size: 20px;
    color: wheat;
}

.showpwd {
    margin-left: 90px;
    position: relative;
    display: flex;
    font-size: 15px;
    font-family: cairo;
    color: white;
    padding: 5px;
    justify-content: center;
    align-items: center;
    top: -15px;
}

.showpwd input[type="checkbox"] {
    margin-right: 5px;
}

/* AL HACER CLICK EN CUALQUIER INPUT */
input[type="text"]:focus, input[type="password"]:focus {
    outline: .8px solid rgb(81, 129, 133);
    border: none;
    width: 17.5rem;
    background-color: rgb(83, 86, 87);
    color: rgb(0, 0, 0);
    font-weight: 500;
}


/* INDICADORES "USUARIO" Y "CONTRASEÑA" */
.indx {
    display: inline-block;
    font-family: prompt;
    text-align: center;
    display: inline-block;
    font-size: 18.7px;
    margin-bottom: 5px;
    color: rgb(228, 200, 46);
    font-weight: 400;
}

.contenedor-botones {
	width: 50%;
	display: grid;
}

/* BOTÓN DE ENVÍO */
/*
.boton {
	display: block;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: cairo;
	font-size: 25px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
    margin-bottom: 6px;
}

.boton.seis:hover {
    border: none;
    box-shadow: 0 0 12px rgb(32, 100, 102);
    color: gold;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton.seis {
	background: rgba(0, 0, 0, 0.63);
    border: .2px solid rgb(58, 56, 56);
	color: #ffffff;
}

.boton.seis svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.boton.seis rect {
	width: 100%;
	height: 100%;
    stroke: rgb(66, 146, 155);
	stroke-width: 10px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .7s ease all;
}

.boton.seis:hover rect {
	stroke-dashoffset: 0;
    stroke: gold;
}

/* CAJA DONDE SE ENCUENTRA EL LINK */
.link-box {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    transition: .3s ease;
}

/* LINK DE REGISTRO */
.link-box a {
    text-decoration: none;
    display: flex;
    color: rgb(133, 189, 179);
    font-family:cairo;
    transition: .2s;
    font-weight: 600;
    font-size: 16px;
}

/*.link-box:hover {
    
}*/

.link-box a:hover {
    filter: grayscale(1);
    box-shadow: 2px solid green;
}

/* PARA DISPOSITIVOS MÁS PEQUEÑOS */
@media (max-width: 1505px) {
    body {
        background-position-x: 1200px;
        background-attachment: fixed;
        background-size: cover;
    }
    .titulo{
        font-size: 3rem;
    }
    .container {
        width: 60%;
    }
    .container-form {
        background-position-x: 190px;
    }
    .container-form-child {
        width: 80%; 
    }
    input[type="text"],
    input[type="password"] {
        width: 60%; 
    }
    .user-icon {
        width: 16%; 
    }
    .link-box {
        width: 40%; 
    }
    .indx {
        font-size: 30px;
    }

    /*
    footer {

    }
    */

    /*MODIFICAR EL BOTÓN DE ENVIO,
    EN DISPOSITIVOS PEQUEÑOS COMO IPAD NO SE VE EL HOVER DEL BOTÓN PERO SI EL ACTIVE,
    EL ACTIVE SE QUEDA CHUECO EN CUANTO AL EFECTO DEL BOTÓN
    (PARA ACCEDER A LA VISTA DESDE OTROS DISPOSITIVOS F12 Y SIMBOLO DE ORDENADOR CON MOVIL)
    */
}

/*@media (max-width: 1002px){
    .container-form {
        background-position-x: 150px;
    }
    footer {
        
    }

}*/


footer {
    margin-top: 70px;
    background-color: rgb(0, 42, 53);
    height: 14rem;
}