* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cairo;
}

body {
    background-color: rgb(37, 37, 37);
}

.first {
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: .3rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    background-color: rgba(236, 229, 229, 0.863);
}

/* ESPACIO ONLYGAMEFANS */
.logo {
    width: fit-content;
    height: fit-content;
}

.logo img {
    height: 6.6rem;
    width: 32rem;
    background-color: rgba(37, 37, 37, 0.932);
    border: .5px solid rgb(0, 0, 0);
}

.acciones {
    border: .5px solid rgb(0, 0, 0);
    border-left: none;
    display: flex;
    position: relative;
    height: 6rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* ESPACIO BUSCADOR */
.containerBuscador {
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    padding: 2rem;
    background-color: rgba(112, 112, 112, 0.795);
}

.buscador {
    display: flex;
    position: relative;
    width: 16rem;
    height: 2.5rem;
    font-size: 19px;
}

input[type="text"] {
    font-size: 1.2rem;
    padding: 2rem;
    width: 45rem;
    padding-left: 1rem;
    transition: all .2s ease-out;
    border-radius: .3rem;
    border-bottom: .8px solid rgb(106, 110, 112);
    border-right: .8px solid rgb(42, 43, 44);
    border-top: .8px solid rgb(80, 80, 80);
    border-left: .8px solid rgb(107, 109, 110);
    background-color: rgb(65, 64, 64);
    color: rgb(233, 233, 233);
}

input[type="text"]::placeholder {
    color: rgb(233, 233, 233);
}

input[type="text"]:hover {
    filter: drop-shadow(0px 1px 6px rgba(80, 79, 79, 0.753));
    outline: .2px solid rgba(236, 231, 231, 0.555);
}

input[type="text"]:focus {
    outline: 2px solid rgb(214, 215, 216);
    border: none;
    width: 50rem;
    color: rgb(218, 218, 218);
}

input[type="text"]::selection {
    color: rgb(198, 199, 201);
    background-color: rgb(118, 119, 119);
}

.filtro {
    display: none;
}

.acciones-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 3.5rem;
    height: 8.9rem;
}

.acciones-usuario a {
    transition: .1s ease-out;
}

.acciones-usuario a:hover {
    color: rgb(37, 77, 165);
}

.acciones-usuario .user-space, .botonCategoria{
    width: 8.9rem;
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ESPACIO USUARIO */
.user-space {
    display: flex;
    align-items: center;
    border: .5px solid rgb(0, 0, 0);
    border-top: none;
    border-bottom: none;
}

.user-space a {
    color: black;
}

/* ESPACIO CARRITO */
.botonCategoria {
    display: flex;
    color: rgb(0, 0, 0);
}

.botonCategoria i {
    transform: scale(1.5);
}

.second {
    position: relative;
    top: 0%;
    width: 100%;
    background-color: rgb(20, 20, 20);
    height: 4.5rem;
    z-index: 0;
}

/* SLIDER INFINITO */
.icono {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -100%;
    height: 100%;
    width: 100%;
    background-color: transparent;

    z-index: 2;
}

/* FONDO LOGO ICONO */
.rectangulo-icono {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 49%;
    background: linear-gradient(to bottom, rgba(90, 122, 224, 0.452), rgba(120, 143, 155, 0.747));
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border: 1px solid rgba(52, 53, 53, 0.39);
    border-collapse: separate;

    border-inline-color: rgba(47, 81, 194, 0.938);
    border-inline-start-width: 25px;
    border-inline-start-style: groove;

    border-inline-end: rgba(47, 81, 194, 0.938);
    border-inline-end-style: groove;
    border-inline-end-width: 25px;

    transition: .2s ease-in-out;
}

/* LOGO DE LA PÁGINA */
.logo-icono {
    position: relative;
    display: flex;
    width: 3.7rem;
    background-color: rgb(25, 17, 58);
    z-index: 5;
    border: .5px solid rgb(146, 146, 146);
    border-radius: 5rem;
    filter: drop-shadow(0px 1px 4px rgba(54, 54, 54, 0.959));
    transition: .2s ease;
    filter: blur(1.5px) grayscale(20%);
}

.logo-icono:hover {
    transform: scale(1.2);
    filter: blur(0px);
}

.rectangulo-icono, .logo-icono:hover {
    filter: blur(0);
}

/* SLIDER DEBAJO DEL LOGO */
.infinite-slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.infinite-slider ul {
    display: inline-flex;
    animation: slide-infinito 10s linear infinite;
}

.infinite-slider ul li {
    list-style: none;
    
}
.infinite-slider ul li img {
    max-width: 200px;
    height: 5rem;
    /*margin-right: 2rem;*/
}

@keyframes slide-infinito {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-151.46px * 13));
    }
}

/* ---- APARTADO PROMOCIONES, DESCUENTOS Y MAS ---- */
.titulo {
    margin-top: 4rem;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to left,rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.836) 41%, rgba(255, 255, 255, 0.699) 41.5%, rgb(25, 87, 168) 42%, rgba(190, 187, 187, 0.658) 64%, rgb(29, 61, 119) 64.5%, rgba(77, 153, 197, 0.863) 65%, white 67%);    
    animation: titulo 4s linear infinite;
    animation-fill-mode: forwards;
    background-size: 200%;
}

@keyframes titulo {
    100% {
        background-position: 0% 0;
    }
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}
.semititulo {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.7rem;
    color: rgb(231, 231, 231);
    font-weight: 200;
    font-family: bebas neue;
    letter-spacing: 3px;
}

.slider-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    width: 100%;
    top: 2rem;
    margin-bottom: 2%;
}

.slider {
    display: flex;
    transition:transform 5s ease-in-out;
}  

.slide {
    min-width: 100%;
    overflow: hidden;
    animation: Entrada 0.5s forwards;
}
.slide.active {
    opacity: 1; 
    animation: Salida 0.5s forwards;
}

.slide img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 48.8%;
    height: 100%;
    transform: translateY(-50%);
    padding: 10px 45px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    opacity: 0;
}

button:hover {
    animation: boton 0.5s ease forwards;
}

@keyframes boton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.prev {
    left: 0;
    background: linear-gradient(to right, white, transparent);
}
.prev img {
    transform: rotateY(180deg);
}

.next {
    right: 0;
    background: linear-gradient(to left, white, transparent);
}

@keyframes Entrada {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Salida {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes slide {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}


/* ----- APARTADO TOP VENTAS ----- */
.todo {
    padding: 0.3%;
    background-color: rgb(54, 54, 54);
    display: block;
    margin: 0 auto;
    width: fit-content;
    height:fit-content;
    margin-top: 2%;
    border-radius: .3rem;
    filter: drop-shadow(0px 0px 6px white);
    box-shadow: 0px 1px 17px rgb(0, 0, 0);
}

.menos {
    background-color: transparent;
    list-style: none;
}
/* Retoques del contenedor  */ 
.contenedor {
    height: 25vh;
    width: 55vw;
    position: relative;
    overflow: hidden;
    border: 2px solid rgba(126, 124, 124, 0.575);
}

/* Texto con div transparente sobre la imagen */
.subdiv {
    right: 70%;
    overflow: hidden;
    height: 100%;
    width: 135%;
    z-index: 2;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom-right-radius: 1000px;
    display: inline-flex;
    align-items: center;
}
.subdiv p {
    margin-left: 5%;
    font-size: 150%;
    font-weight: bold;
    font-size: 400%;
    color: white;
}
.subdiv .titulo_juego {
    font-size: 70%;
    width: 75%;
    text-align: center;
    padding: 15%;
}
.subdiv:hover {
    transform:translateX(75%);
    transition: 1s cubic-bezier(0.2, 1, 0.5, 1);
    background-color: rgba(0, 0, 0, 0.9);
}
.subdiv:not(:hover) {
    transform: translateX(0);
    transition: 0.5s cubic-bezier(0.1, 1, 1, 1);
}

/* Retoques de la imagen de fondo de los contenedores */
.imagen_fondo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.imagen_fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* Colores de fondo sobre las imagenes, en orden descendente */
/*.imagen_fondo[data-color="color1"]::before {
    background-color: rgb(0, 0, 255, 0.45);
}
.imagen_fondo[data-color="color2"]::before {
    background-color: rgb(255, 0, 0, 0.45);
}
.imagen_fondo[data-color="color3"]::before {
    background-color: rgb(255, 255, 0, 0.45);
}
.imagen_fondo[data-color="color4"]::before {
    background-color: rgb(0, 128, 0, 0.45);
}
.imagen_fondo[data-color="color5"]::before {
    background-color: rgb(0, 0, 0, 0.45);
}*/

/* Efecto hover de la imagen */
.imagen_fondo:hover {
    animation: animacionImagen 0.5s ease;
    animation-fill-mode: forwards;
}
@keyframes animacionImagen {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}

/* ---- APARTADO PARA LAS MEJORES OFERTAS ---- */
.margenes {
    display: flexbox;
    column-count: 3;
    padding-left: 16.5%;
    padding-right: 15%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-top: 8vh;
    background-color: rgba(53, 53, 53, 0.863);
}

.flip-box {
    background-color: transparent;
    /* Modifica el tamaño de la parte de delante */
    width: 20vw;
    height: 35vh;
    margin-bottom: 45px;
    perspective: 1000px; /* Esto modifica el efecto 3D */
    cursor: pointer;
    break-inside: avoid;
}

.flip-box-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Se agrega la clase flipped para mantener el estado final de la rotación */
.flip-box.flipped .flip-box-inner {
    transform: rotateY(180deg);
    transition: transform 2s cubic-bezier(0.1, 0.7, 0.1, 1);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    /* Modifica la parte trasera del contenedor */
    width: 20vw;
    height: 35vh;
    backface-visibility: hidden;
}

.flip-box-front {
    background-size: cover;
    color: black;
}

.flip-box-front p {
    background: linear-gradient(to top, orange, red);
    display: flex;
    margin-top: 25%;
    justify-content: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 400%;
    font-weight: bolder;
}

.flip-box-back {
    color: white;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    text-align: center;
    font-size: 130%;
}

.textico {
    margin-top: 23vh;
    background-color: rgb(0, 0, 0, 0.75);
    padding: 3%;
    color: rgb(74, 218, 55);
    font-size: 18px;
    font-family: bebas neue;
    font-weight: 100;
    letter-spacing: 1.3px;
}

#precioAnterior {
    color: rgb(214, 115, 1);
    font-weight: 650;
    filter: contrast(1.5);
}

/*---<PIE DE PÁGINA>---*/
footer {
    margin-top: 48px;
    background-color: rgb(23, 29, 29);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
}

footer ol {
    list-style: none;
}

footer ol li a {
    text-decoration: none;
    color: whitesmoke;
    font-family: cairo;
    font-size: .9rem;
}

.container-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    height: fit-content;
    justify-content: left;
    align-items: center;
}

.container-footer h1 {
    font-weight: 800;
    font-size: 2.5rem;
    font-family: cairo;
    color: rgb(199, 197, 197);
}


.container-footer ol {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.container-footer ol li {
    padding: 1rem;
}

.container-footer ol li a {
    transition: .09s ease-in;
}

.container-footer ol li a:hover {
    color: rgb(253, 194, 0);
}

/* CONTENEDOR PARA LAS REDES SOCIALES */
.container-rrss {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: center;
}

.rrss {
    position: relative;
    display: flex;
    padding: .5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.rrss a {
    text-decoration: none;
    color: whitesmoke;
    font-family: cairo;
}

.rrss a {
    transition: .2s ease-in;
}

.rrss img {
    width: 3.5rem;
}

.rrss a:hover {
    color: rgb(253, 194, 0);
}

/* CONTENEDOR PARA FACEBOOK */
.facebook {
    transition: .1s ease-in;
    padding: 2rem;
}

.facebook p {
    filter: drop-shadow(0px 1px 5px rgb(255, 255, 255));
}

/* IMÁGEN FACEBOOK */
.fb {
    transition: all .2s ease-in;
}

.fb:hover {
    filter: drop-shadow(0px 1px 5.7px rgb(255, 255, 255));
}

/* CONTENEDOR PARA INSTAGRAM */
.instagram {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 2rem;
}

.instagram p {
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}

/* IMÁGEN INSTAGRAM */
.ig {
    transition: all .2s ease-in;
}

.ig:hover {
    filter: drop-shadow(0px 1px 5.7px rgb(255, 255, 255));
}

/* CONTENEDOR PARA X O TWITTER COMO LO QUIERAS LLAMAR */
.x {
    transition: .1s ease-in;
    padding: 2rem;
}

.x p {
    filter: drop-shadow(0px 1px 5px rgb(255, 255, 255));
}

/* IMÁGEN X O TWITTER COMO LO QUIERAS LLAMAR */
.x-twitter {
    transition: all .2s ease-in;
}

.x-twitter:hover {
    filter: drop-shadow(0px 1px 5.7px rgb(255, 255, 255));
}


@media (max-width: 768px) {
    .boton.cinco{
        width: 30%;
    }

    .boton.cinco span {
        left: 18%;
    }
}